.counter {
  min-width: 300px;
  height: 300px;
  font-size: 16rem;
  padding: 2.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid white;
  margin-bottom: 2.5rem;
}