* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-color: #1b1b32;
}

.App {
  display: flex;
  min-width: 375px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  font-family: Loto, sans-serif;
}

.main-container {
  min-width: 375px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.luiscarrera-logo-container {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.luiscarrera-logo {
  width: 100%;
  height: auto;
}
